*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    width:100vw;
    height:100vh;
    overflow-x: hidden;
    
}

.menubtn{

    position: fixed;
    display: flex;
    justify-content: space-between;
    right: 5vw;
    top: 3vh;
    z-index: 2;
    text-align: center;
    align-self: center;
    align-items: center;
 
    
   

}

#firstmenu , #secondmenu{
    display: none;
    animation: menushow;
    animation-duration: 1s;
    
}

@keyframes menushow{
    from{
        opacity: 0%;
    }
    to{
        opacity: 100%;
    }
}

.firstmenu a, .secondmenu a{

    margin: 5px;
    margin-right: 15px;
    text-decoration: none;
    color: black;
    font-size: 1.5rem;

}

.menubtn button{
    display: flex;
    margin-right: 10px;
    text-align: center;
    width: auto;
}

#menubtn{
    transition: all;
    transition-duration: 0.5s;
    outline: none;
}

.menubtn button div{
    width: 3px;
    height: 15px;
    background: darkred;
    margin: 2px;
    pointer-events: none;
    align-items: center;
    text-align: center;
    


}



.wrapper{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;

}

.topnav{
    border: 1px solid darkred;
    height: 10vh;
    width: 100vw;
    background: lightseagreen;
    position:fixed;
    top: 0vh;
    z-index: 1;
    margin: 0;
    padding: 0;
}   

.topnav img{

    width: 11vw;
    height: auto;
    margin-left: 20px;
    position: absolute;
    border-radius: 30%;
    top: 2vh;
    left: 1.5vw;
    border: 1px solid darkred;
    z-index: -1;
    


}




.header{
    width: 100vw;
    height: 100vh;
    background-image: url('Assets/eric-tompkins-u6DT7nigEmw-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    opacity: 90%;
    animation: main 30s infinite linear;
    

}

@keyframes main{
    
    0%{
        background-image: url('Assets/alex-holyoake-_g9F-Y4p0lo-unsplash.jpg');
    }

    30%{
        background-image: url('Assets/aranprime-NGCHu7NeqKQ-unsplash.jpg');
    }

    60%{
        background-image: url('Assets/eric-tompkins-u6DT7nigEmw-unsplash.jpg');
    }

    90%{
        background-image: url('Assets/mana5280-o69yU0jE0Nk-unsplash.jpg');
    }
}


.header h1{
    margin: 0;
    align-self: center;
    opacity: 100%;
    cursor: none;
    color: darkred;
    
}

.Detailheading{
    text-align: center;
}


.detailsection{
    display: flex;
    justify-content: space-between;
    margin-top: 10vh;
    width: 100vw;
    height: 50vh;
}

.info{
    width: 40%;
    text-align: center;
    line-height: 2;
    margin-left: 2vw;
    align-self: center;
}

.info p{
    font-size: 1.5rem;
}

.pic{
    width: 50%;
    text-align: center;
}

.pic img{
    width: 30vw;
    height: auto;
    text-align: center;
    align-self: center;
    box-shadow: 10px 10px 39px black;
}

.pictureheading{
    text-align: center;
}


.picturegallery{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 5vh;
    width: 100vw;
}

.picturegallery img{
    width: 20vw;
    height: 25vh;
    transition: all;
    transition-duration: 0.5s;
    padding: 10px;
}

.picturegallery img:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.location{
    display: flex;
    justify-content: space-between;
    margin-top: 10vh;
   
}

.locationdetail{
    margin: auto;
}

.map{
    margin: auto;
    border: 1px solid black;
}


.footer{
    height: 10vh;
    background: lightseagreen;
    margin-top: 10vh;
    text-align: center;
    padding: 15px;
}